.hat{
    position: relative;
    left:0px;
    top:0px;
    color:#eeeeee;
    background-color:#333333;
    padding: 41px 693px 36px 71px;
}
.NaviHat {
    position: absolute;
    left:619px;
    top: 77px;
    color: #eeeeee;
    background-color:#333333;
}
.blueHome{
    color:#128ab9;
}
.zagolovok{
    font-weight: bolder;
    color:#333333;
    position: relative;
    margin: 67px 0px 0px 71px;
}
.blueAmpersant{
    color: #00bff3;
}
.waterText{
    padding: 4px 0px 0px 71px;
    color: #bbbbbb;
    font-size: 26px;
}

.weProvide {
    margin: 71px 0px 0px 71px;
    color:#555555;
    font-size: 19px;
}
.provideBold{
    font-weight: bold;
}
.box1Design{
    background-color: #00aeef;
    color:#def1fc;
    padding: 30px 85px 288px 85px;
    width:110px;
    position: relative;
    top: 82px;
    left: 71px;
    font-size: 23px;
}
.box1Text{                       /*как отцентровать текст*/
    color:#def1fc;
    position: absolute;
    left:120px;
    top: 560px;
    font-size: 13px;
    line-height: 23px;
}
.box1Button {
    border-color: #165f7b;
    background-color: #0076a3;
    color:#def1fc;
    line-height: 40px;
    width: 233px;
    position: absolute;
    left: 100px;
    top: 760px;
}

.box2Design{
    background-color: #00aeef;
    color:#def1fc;
    padding: 30px 85px 288px 85px;
    width:110px;
    position: relative;
    left: 400px;
    bottom: 262px;
    font-size: 23px;
}
.box2Text{
    color:#def1fc;
    font-size: 13px;
    line-height: 23px;
    position: absolute;
    left: 450px;
    top: 560px;
}
.box2Button{
    border-color: #165f7b;
    background-color: #0076a3;
    color:#def1fc;
    line-height: 40px;
    width: 233px;
    position: absolute;
    left: 430px;
    top: 760px;
}

.box3Design{
    background-color: #00aeef;
    color:#def1fc;
    padding: 30px 85px 288px 85px;
    width:110px;
    position: relative;
    left: 729px;
    bottom: 606px;
    font-size: 23px;
}
.box3Text{
    color:#def1fc;
    font-size: 13px;
    line-height: 23px;
    position: absolute;
    left: 780px;
    top: 560px;
}
.box3Button{
    border-color: #165f7b;
    background-color: #0076a3;
    color:#def1fc;
    line-height: 40px;
    width: 233px;
    position: absolute;
    left: 760px;
    top: 760px;
}

.testimonials{
    color:#8a8a8a;
    position: relative;
    left:71px;
    bottom: 521px;
    font-size: 23px;        /*38*/
}
.grayImg1{
    position: absolute;
    top:973px;
    left: 78px;
    width: 84px;
    height: 84px;
}
.grayImg2{
    position: absolute;
    top:1095px;
    left: 78px;
    width: 84px;
    height: 84px;
}
.grayImg3{
    position: absolute;
    top:1217px;
    left: 78px;
    width: 84px;
    height: 84px;
}
.boldNames{
    font-weight: bold;
}
.blueOrg{
    color: #00bff3;
}

.otz1{
    position: absolute;
    top:953px;
    left: 215px;
}
.otz2{
    position: absolute;
    top:1075px;
    left: 215px;
}
.otz3{
    position: absolute;
    top:1198px;
    left: 215px;
}
.proj{
    position: relative;
    left:610px;
    bottom: 549px; 
    color:#8a8a8a;
    font-size: 23px;  
}
.yoshi{
    color:#afafaf;
    position: relative;
    left:610px;
    bottom: 532px;
    font-size: 21px;  
}
.yoshiImg{
    width: 432px;
    height: 207px;
    position: relative;
    left: 610px;
    bottom: 525px;
}
.text{
    position: relative;
    left: 610px;
    bottom: 530px; 
}
.click{
    position: relative;
    left: 610px;
    bottom: 531px; 
    color: #00bff3;
}
a{
    text-decoration: none;
}
.aColorHat{
    color: #eeeeee;
}
.dotted1-1{
    position: absolute;
    left:71px;
    top: 310px;
}
.dotted1-2{
    position: absolute;
    left:71px;
    top: 450px;
}
.dotted1-3{
    position: absolute;
    left:71px;
    top: 880px;
}
.dotted1-4{
    position: absolute;
    left:71px;
    top: 1360px;
}
.dotted2{
    position: absolute;
    left:585px;
    top: 930px;
}

.dotted3-1{
    position: absolute;
    left:100px;
    top: 555px; 
}
.dotted3-2{
    position: absolute;
    left:430px;
    top: 555px; 
}
.dotted3-3{
    position: absolute;
    left:760px;
    top: 555px; 
}